#extension-root {
  position: fixed;
  right: 0;
  z-index: 99999;
}

#extension-root * {
  box-sizing: border-box;
}

.top-extension {
  top: 0;
}

.bottom-extension {
  bottom: 0;
}

.mcksi-frame-include {
  --mcksi-frame-include: true;
}
