html {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 16px;
  padding: 0;
  display: flex;
  width: 300px;
}

body {
  /*border: 1px solid #81959066;*/
  border-radius: 4px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.tab-selector-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 100%;
  border-bottom: 1px solid #E5E2E1;
}
.tab-selector-content {
  padding: 12px;
}
.close-button {
  cursor: pointer;
  position: absolute;
  left: 8px;
}
.localize {
  display: flex;
  flex-direction: column;
  font-weight: 550;
  font-size: 15px;
  line-height: 18px;
}

.dropdown {
  height: 44px;
  border: 1px solid #ABABAB;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

.dropdown-menu {
  border: 1px solid #ABABAB;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-item {
  cursor: pointer;
  padding: 12px;
}

.dropdown-item:hover {
  background-color: #E5E2E1;
}

.separator {
  height: 1px;
  background-color: #E5E2E1;
  margin: 0 12px
}
