.rightSection {
  background: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  width: 400px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}